@font-face {
  font-family: "Source Sans Pro";
  src: url("./assets/fonts/sourcesanspro-300-normal.ttf") format("truetype");
  font-weight: 300;
  font-style: normal;
}

html {
  width: 100%;
  height: 100%;
}

body {
  font-family: "Source Sans Pro";
  width: 100vw;
  margin: 0;
  background-color: #f5f8f8;
  overflow-x: hidden;
  position: relative;
}

.preview {
  background-image: url("./assets/images/top.svg");
  background-size: cover;
  height: 145vh;
  width: 100vw;
  font-size: 3vh;
  display: flex;
  flex-direction: column;
  color: #fffefe;
}

.header__logo {
  background-image: url("./assets/images/logo.svg");
  background-size: cover;
  height: 48px;
  width: 48px;
  margin: 0 0 0 160px;
}

.default {
  width: 920px;
}

.fixed {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  padding: 15px 0;
  z-index: 20;
}

.preview__header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  /* padding: 65px 160px 0 160px; */
  background-color: #ea3730;
  padding-top: 30px;
  width: 100%;
}

.header__mobile-navbar-page {
  background-color: #ea3730;
  width: 100vw;
  height: 100vh;
  margin: 0;
  display: flex;
  flex-flow: column;
  align-items: center;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 10;
}

.header__number-phone_wrapper, .header__mobile-navbar_wrapper, .header__number-phone-mobile_wrapper {
  border: 2px solid #f5f8f8;
  border-radius: 12px;
  height: auto;
  width: auto;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0 160px 0 0;
}

.mobile {
  display: none;
}

.header__mobile-navbar_wrapper, .header__number-phone-mobile_wrapper {
  padding: 15px 15px;
  display: flex;
  flex-direction: column;
}

.burger-mobile-menu__line {
  width: 35px;
  margin: 4px 0;
  border: 2px solid white;
  border-radius: 25%;
}

.header__number-phone_wrapper:hover, .header__number-phone-mobile_wrapper:hover, .header__mobile-navbar_wrapper:hover {
  background-color: #181818e5;
  border: 2px solid #181818e5;
}

.logo-navbar_wrapper {
  display: flex;
  align-items: center;
  width: 60%;
}

.header__number-phone-text {
  font-size: 3vh;
  color: #fffefe;
  padding: 1.5vh 1.5vw;
}

.header__mobile-number-phone-text {
  padding: 10px;
}

.header__number-phone-text::before {
  content: url("./assets/images/handset_logo.svg");
  padding-right: 10px;
}

.header__mobile-number-phone-text::before {
  content: url("./assets/images/handset_logo.svg");
}

.header__navbar {
  /* min-width: 300px; */
  width: 40%;
}

.navbar__links {
  width: 100%;
  list-style-type: none;
  display: flex;
  justify-content: space-between;
}

.mobile-navbar__links {
  width: 100%;
  height: 50%;
  list-style-type: none;
  display: flex;
  flex-direction: column;
  margin: 0;
  padding: 0;
}

.mobile-link__item {
  width: 50%;
  font-size: 36px;
  height: 40px;
  margin: 20px 0;
  font-weight: 900;
}

.mobile-navbar__close-btn {
  background-image: url("./assets/images/close.png");
  width: 50px;
  height: 50px;
  align-self: flex-end;
  margin-right: 10%;
  margin-top: 2%;
}

.hidden {
  display: none;
}

.active {
  display: flex;
}

.link {
  text-decoration: none;
}

.header-link {
  color: #f5f8f8;
}

.header-link:hover {
  color: #181818;
}

.preview__content {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  margin: 6% 0 0 160px;
  height: 80%;
}

.content__header {
  max-width: 50%;
  height: auto;
  white-space: normal;
  font-weight: 600;
  font-size: 12vh;
  /* margin-top: 150px; */
  margin-bottom: 24px;
}

.content__header-description {
  font-size: 4.5vh;
  width: 50%;
  white-space: normal;
  margin-bottom: 70px;
}

.content__button-more-info {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  width: auto;
  height: auto;
  background: #fffefe;
  box-shadow: 0px 11px 28px rgba(71, 71, 71, 0.25);
  border-radius: 12px;
}

.content__button-more-info:hover {
  background-color: #181818e5;
}

.preview-button-link {
  color: #ea3730;
  font-weight: 600;
  font-size: 3vh;
  padding: 3vh 2vw;
}

.preview__cat-logo {
  width: 140px;
  height: 180px;
  background-image: url("./assets/images/cat_logo.svg");
  background-size: cover;
  position: absolute;
  bottom: -27vh;
  left: 40vh;
}

.left-eye, .right-eye {
  width: 20px;
  height: 20px;
  border-radius: 100%;
  background-color: #f5f8f8;
  position: relative;
}

.eye-wrapper {
  display: flex;
  justify-content: flex-end;
  margin-top: 30px;
  margin-right: 7px;
}

.preview__cat-logo .right-eye {
  margin-top: 7px;
}

.pupil {
  width: 10px;
  height: 10px;
  border-radius: 100%;
  background-color: #ea3730;
  position: absolute;
  left: 10px;
  top: 5px;
}

.order-section {
  margin-top: 12vh;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.section-header {
  font-size: 8vh;
  font-weight: 600;
  color: #181818;
  margin-bottom: 10vh;
}

.order-section__item-wrapper {
  display: flex;
  width: 80%;
  justify-content: center;
}

.order-section__item {
  background: #fffefe;
  box-shadow: 0px 0px 45px #eaeaea;
  border-radius: 12px;
  width: 35%;
  height: 80vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  margin: 0 10px;
  min-width: 330px;
}

.order-card__header {
  color: #181818;
  font-size: 4.5vh;
  white-space: normal;
  width: 80%;
  text-align: center;
  font-weight: 700;
  margin-top: 15%;
  word-break: break-all;
}

.order-card__content {
  width: 80%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
}

.order-card__content-cost {
  font-size: 4.5vh;
  color: #ea3730;
  margin-bottom: 20px;
  font-weight: 700;
  text-align: center;
}

.order-card__content-description {
  font-size: 2.8vh;
  color: #898989;
  text-align: center;
}

.order-card__button-site-order {
  background: #ea3730;
  border-radius: 35px;
  width: auto;
  height: auto;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 15%;
}

.button-site-order-link {
  color: #f5f8f8;
  font-size: 2.8vh;
  padding: 1.5vh 1.7vw;
}

.button-site-order-link:hover {
  background-color: #181818e5;
  border-radius: 35px;
}

.order-section__item-wrapper :last-child .order-card__content {
  margin-top: 85px;
}

.cases-section {
  margin-top: 20vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-image: url("./assets/images/cases_background.svg");
  background-size: cover;
  height: 150vh;
  width: 100%;
  text-align: center;
}

.case__item-wrapper {
  display: flex;
  flex-wrap: wrap;
  width: 80%;
  height: 60%;
  justify-content: center;
}

.case__item {
  background-color: #c4c4c4;
  width: 30%;
  height: 50%;
  border-radius: 12px;
  margin: 10px;
}

.case-section__see-more-button {
  font-size: 5vh;
  line-height: 38px;
  color: #898989;
  margin-top: 60px;
}

.case-section__see-more-button:hover {
  color: #181818;
}

.faq-section {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 15vh;
}

.faq-section__questions-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 65%;
}

.faq-section__questions-wrapper-row {
  display: flex;
  width: 100%;
  justify-content: space-between;
  margin-bottom: 10vh;
}

.faq-section__item-wrapper {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  width: 40%;
}

.faq-section__item-header {
  color: #ea3730;
  font-size: 4.5vh;
  white-space: normal;
  margin-bottom: 15px;
  font-weight: 700;
}

.faq-section__item-answer {
  color: #898989;
  font-size: 2.8vh;
  line-height: 3.7vh;
  white-space: normal;
}

.feedback-section {
  width: 100%;
  height: 140vh;
  max-height: 1600px;
  background-image: url("./assets/images/forma.svg");
  background-size: cover;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #181818;
  position: relative;
}

.feedback-section__cat-logo {
  z-index: 10;
  background-image: url("./assets/images/feedback_catlogo.svg");
  background-size: cover;
  width: 128px;
  height: 133px;
  position: absolute;
  top: 20px;
  left: 350px
}

.feedback-section__eye-wrapper {
  display: flex;
  justify-content: flex-end;
  margin-top: 17px;
  margin-right: 7px;
}

.contact__eye-wrapper {
  display: flex;
  justify-content: center;
  margin-top: 17px;
  padding-left: 7px;
}

.contact__left-eye .pupil, .contact__right-eye .pupil {
  background-color: #181818;
  width: 5px;
  height: 5px;
}

.contact__left-eye, .contact__right-eye {
  width: 15px;
  height: 15px;
}

.feedback-section__header {
  width: 60%;
  height: auto;
  font-weight: 600;
  font-size: 8vh;
  color: #f5f8f8;
  margin-bottom: 80px;
}

.feedback-form__item-field-wrapper {
  display: flex;
  flex-direction: column;
  width: 28%;
}

.feedback-form__item-textarea-wrapper {
  display: flex;
  flex-direction: column;
  width: 35%;
}

.feedback-form {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.feedback-section_wrapper {
  width: 80%;
  height: auto;
  display: flex;
  flex-direction: column;
  margin-bottom: 70px;
}

.feedback-form__row:first-child {
  margin-bottom: 20px;
}

.feedback-form__row {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}

.feedback-form__label {
  font-size: 2.8vh;
  line-height: 24px;
  color: #f5f8f8;
  margin-bottom: 10px;
}

.feedback-form__field {
  border: 3px solid #f5f8f8;
  width: 98%;
  height: 5vh;
  background-color: #ea3730;
  border: 3px solid #f5f8f8;
  padding: 0;
}

.feedback-form__textarea {
  border: 3px solid #f5f8f8;
  width: 100%;
  height: 8vh;
  resize: none;
  background-color: #ea3730;
  border: 3px solid #f5f8f8;
}

.feedback-form__upload-label::before {
  content: url("./assets/images/clip.png");
  position: relative;
  top: 10px;
  margin-right: 15px;
}

.feedback-form__upload-input {
  display: none;
}

.feedback-form__upload-label {
  font-size: 2.8vh;
  line-height: 24px;
  color: #fffefe;
  cursor: pointer;
}

.feedback-form__submit-btn {
  background: #fffefe;
  border-radius: 4px;
  display: flex;
  width: 245px;
  height: 60px;
  justify-content: center;
  align-items: center;
  border: 0px solid #fffefe;
  color: #ea3730;
}

.feedback-form__submit-btn:hover {
  background-color: #181818e5;
  border-radius: 4px;
}

.feedback-form__submit-btn span {
  font-weight: 600;
  font-size: 2vh;
  color: #ea3730;
}

.contact-info__item {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  height: auto;
}

.email, .phone-number {
  font-weight: 600;
  font-size: 8vh;
  margin: 15px 0;
}

.email__label, .phone-number__label, .address {
  font-size: 2.8vh;
}

.contact-section-wrapper {
  margin: 70px 0 150px 150px;
  height: auto;
}

.contact-section {
  width: 100%;
  background-color: #181818;
  color: white;
  height: auto;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.contact-section__header {
  font-size: 36px;
  color: #ea3730;
}

.contact-section__contact-info {
  margin-top: 80px;
  height: 100%;
  width: 50%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.email__value, .phone-number__value, .address-text-decorate {
  color: #fffefe;
}

.address {
  width: 80%;
  white-space: normal;
}

.address-text-decorate {
  text-decoration: underline;
}

.contact-section__cat-logo {
  background-image: url("./assets/images/кот_компот2.svg");
  background-size: 100% 100%;
  width: 128px;
  height: 133px;
  align-self: flex-start;
  margin: 50px 150px 0 0;
}

@media screen and (max-width: 1100px) {
  /* .preview__header {
    flex-direction: column;
    width: 100%;
    align-items: center;
  } */
  /* .logo-navbar_wrapper {
    width: 85%;
    justify-content: space-around;
    flex-direction: column;
  }
  .header__navbar ul {
    padding: 0;
  }
  .header__navbar {
    width: 65%;
  }
  .header__logo {
    margin-left: 0;
  }
  .header__number-phone_wrapper {
    margin: 0;
  } */
  .desktop {
    display: none;
  }
  .mobile {
    display: flex;
  }
  .order-card__header {
    text-align: center;
  }
  .preview__content {
    margin-left: 0;
    margin: 0 0 0 50px;
  }
  .header__logo {
    margin-left: 50px;
  }
  .header__number-phone-mobile_wrapper {
    margin-right: 50px;
  }
  .contact-section__header {
    font-size: 3vh;
    text-align: left;
  }
  .order-section__item-wrapper {
    flex-wrap: wrap;
  }
  .order-card {
    margin-bottom: 20px;
  }
  .cases-section {
    height: 80vh;
  }
  .case__item-wrapper {
    height: 80%;
  }
  .case__item {
    height: 30%;
  }
  .faq-section__questions-wrapper-row {
    flex-direction: column;
  }
  .feedback-section_wrapper {
    width: 93%;
  }
  .faq-section__item-wrapper, .faq-section__questions-wrapper-row:first-child {
    margin-bottom: 30px;
  }
  .feedback-form__row {
    flex-wrap: wrap;
  }
  .feedback-form__submit-btn {
    margin-top: 40px;
  }
  .feedback-section__cat-logo {
    top: -17vh;
  }
  .contact-section-wrapper {
    margin-left: 30px;
    margin-bottom: 70px;
    margin-top: 15px;
  }
  .contact-section__header, .feedback-section__header {
    font-size: 4vh;
    width: 90%;
  }
  .content__header {
    text-align: left;
    font-size: 10vh;
  }
  .content__header-description {
    font-size: 3.5vh;
    width: 90%;
  }
  .preview__cat-logo {
    display: none;
  }
  .faq-section__questions-wrapper {
    width: 90%;
  }
  .faq-section__item-wrapper {
    width: 90%;
  }
  .email__value, .phone-number__value {
    font-size: 0.5em;
  }
  .address {
    width: 100%;
  }
  .phone-number {
    white-space: nowrap;
  }
}